<div class="container">
    <div class="row">
        <div class="horizontal-label">
            Year
        </div>
        <select class="form-control js-year">
            {{#each years}}
            <option value="{{this}}" name="{{this}}"
                {{#selectedValue this ../selectedYear }} selected="selected" {{/selectedValue}}>{{this}}
            </option>
            {{/each}}

        </select>
    </div>
    <div class="row">
        <div class="horizontal-label">
            Manufacturer
        </div>

        <select class="form-control js-manufacturer">
            {{#each manufacturers}}
                <option value="{{id}}" name="{{ru_name}}"
                    {{#selectedValue id ../selectedManufacturer.id}} selected="selected" {{/selectedValue}}
                    >{{ru_name}}
                </option>

            {{/each}}
        </select>
    </div>
    <div class="row">
        <div class="horizontal-label">
            Model
        </div>

        <select class="form-control js-manufacturer">
            {{#each models}}
                <option value="{{id}}" name="{{ru_name}}"
                    {{#selectedValue id ../selectedModel.id}} selected="selected" {{/selectedValue}}
                    >{{ru_name}}
                </option>
            {{/each}}
        </select>
    </div>

</div>